<template name="home">

    <img class ="ui rounded bordered centered image" src ="images/background/cover.png">
    <br>
    <div class =" ui three wide column grid">
        <div class =" column"></div>
        <div class ="column">
            <div class =" ui segment">
                <h2 class = "ui center aligned header">Vote for your favorites!</h2>
                <div class = " ui clearing divider"></div>
                <h3 class = "ui center aligned header">Login with Facebook in the top right corner and vote.</h3>
            </div>
        </div>
    </div>

</template>