<template name="home">

    <img class ="ui rounded bordered centered image" src ="images/background/cover.png">
    <br>
   <!--  <div class =" ui three wide column grid">
        <div class =" column"></div>
        <div class ="column">
            <div class =" ui segment">
                <h2 class = "ui center aligned header">Vote for your favorites!</h2>
                <div class = " ui clearing divider"></div>
                <h3 class = "ui center aligned header">Login with Facebook in the top right corner and vote.</h3>
            </div>
        </div>
    </div> -->

     <div class ="ui active pointing secondary menu">
         <div class=" item" data-tab="female">Female</div>
        <div class="active item" data-tab="male">Male</div>
    </div>

    <div class = "ui segment active tab" data-tab="female">
        <div class = "ui doubling four column grid item-section">
            {{#each femaleParticipants}}
            <div class = "column">{{>participantTile}}</div>
            {{/each}}
        </div>

    </div>
    <div class = "ui segment tab" data-tab="male">
        <div class = "ui doubling four column grid item-section">
            {{#each maleParticipants}}
            <div class = "column">{{>participantTile}}</div>
            {{/each}}
        </div>
    </div>


</template>