<template name="myModalView">


  <div id = "modalView" class="ui modal">
       <i class="close icon"></i>
    <div class="header">{{myId}}</div>
    <div class="content">
      <div class="left">
        <img src="{{pic}}" class="ui image circular" alt="image"/>
      </div>
      <div class="right">
        {{description}}
        <!--  <div class="ui video" data-source="youtube" data-id="i_mKY2CQ9Kk" data-image="/images/cat.jpg"></div>
      -->
    </div>

  </div>
  <div class="actions">
    <div class="ui button">Close</div>
  </div>
    </div>
</template>