<template name="header">

<div class="ui menu navbar">
    <a id="goHome" href="{{pathFor 'home'}}" class="brand item">MMHW</a>
    <a id="goJudge" href="{{pathFor 'judges'}}" class="item">Judges</a>

    <a id="goContestant" href="{{pathFor 'contestants'}}" class="item">Contestants</a>

    <div class="right menu">
        {{#if currentUser}}
        <a id="fbLogout" class="item">{{currentUser.profile.name}} Logout</a>
        {{else}}
            <a id="fbLogin" class="item">FB Login</a>
        {{/if}}


    </div>
</div>

</template>