
#head {
    margin: 40px 40px 0px 40px;


}

body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 60px;
}

.ui.navbar {
    margin-top: 20px !important;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.padding-reset{
    padding: 0px !important;
}

.ui.message{
    padding: 40px !important;
}

@media (max-width: 767px) {
    .ui.inverted.navbar{
    }
}

.ui.vertical.menu{
    margin-top: -15px !important;
    width: 100%;
    display: none;
}
