<template name="participantTile">

  <div class="ui card">
    <input type="hidden" value="{{_id}}" id="participantId"/>

    <a id="myModalPic" class="image" href="#">
      <img src="{{pic}}"></a>
    <div class="content">
      <a id="myModal" class="header" href="#">{{name}}</a>
      <div class="meta">
        <div class="group">{{role}}</div>
      </div>
      <div class="description">{{description}}</div>
    </div>
    <div class="extra content">
      <a class="right floated created">{{school}}</a>
      <div class="votes">
        {{votes}} Votes


      {{#if currentUser}}
      {{#if isVotedFor}}
      <a id="removeVote" class = "ui icon "> <i class="icon remove"></i></a>
      {{else}}
      <a id="addVote" class = "ui icon "> <i class="icon check"></i></a>

      {{/if}}

      {{else}}
        <i class="lock icon"></i>
        {{/if}}

      </div>

    </div>
    <div id = "modalView" class="ui modal">
      <i class="close icon"></i>
      <div class="header">{{name}}</div>
      <div class="content">
        <div class="left">
          <img src="{{pic}}" class="ui image circular" alt="image"/>
        </div>
        <div class="right">{{description}}</div>
      </div>
      <div class="actions">
        <div class="ui button">Close</div>
      </div>
    </div>
  </div>

</template>